pipeline/Copy from REST connector into ADLS Gen2.json
{
	"name": "Copy from REST connector into ADLS Gen2",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/microsoft.onmicrosoft.com/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=54c0aa0a-0ca4-441f-8681-d88f54a939f1&resource=https://*.asazure.windows.net&client_secret=2.Qio66GrR8H4.OZx3vE~bVU364Yb~~0pk"
				}
			},
			{
				"name": "GetBearerToken_copy1",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://southeastasia.asazure.windows.net/servers/couplegroupssas/models/AAS/refreshes",
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@activity('GetBearerToken').output.access_token",
							"type": "Expression"
						}
					},
					"body": ""
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-07-02T06:57:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}