pipeline/Download Product.json
{
	"name": "Download Product",
	"properties": {
		"description": "Tải data danh mục sản phẩm từ Haravan Product API",
		"activities": [
			{
				"name": "Get count of page",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set updated_at_min",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://apis.haravan.com/com/products/count.json?updated_at_min=',variables('updated_at_min'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@variables('authorization_key')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set total page",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get count of page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_page",
					"value": {
						"value": "@string(activity('Get count of page').output.count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete All Old Files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "prq_ProductAll",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Set updated_at_min",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "updated_at_min",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(),-2000),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Download Data Change",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set total page",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete All Old Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(    mul(   int(variables('current_page'))        ,50   )               ,int(variables('total_page')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set current page",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_page",
								"value": {
									"value": "@string(add(int(variables('temp_page')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set temp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Download data by current page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_page",
								"value": {
									"value": "@variables('current_page')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Download data by current page",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set current page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['variant_id']"
											},
											"sink": {
												"name": "variant_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['variant_barcode']"
											},
											"sink": {
												"name": "variant_barcode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_title']"
											},
											"sink": {
												"name": "variant_title",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_name']"
											},
											"sink": {
												"name": "variant_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_price_listing']"
											},
											"sink": {
												"name": "variant_price_listing",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['variant_option1_value']"
											},
											"sink": {
												"name": "variant_option1_value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_option1_name']"
											},
											"sink": {
												"name": "variant_option1_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_option2_value']"
											},
											"sink": {
												"name": "variant_option2_value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_option2_name']"
											},
											"sink": {
												"name": "variant_option2_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_option3_value']"
											},
											"sink": {
												"name": "variant_option3_value",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_option3_name']"
											},
											"sink": {
												"name": "variant_option3_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_image_id']"
											},
											"sink": {
												"name": "variant_image_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['product_id']"
											},
											"sink": {
												"name": "product_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['product_name']"
											},
											"sink": {
												"name": "product_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_vendor_name']"
											},
											"sink": {
												"name": "product_vendor_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_category_name']"
											},
											"sink": {
												"name": "product_category_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_image']"
											},
											"sink": {
												"name": "product_image",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_handle']"
											},
											"sink": {
												"name": "product_handle",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_published_scope']"
											},
											"sink": {
												"name": "product_published_scope",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_tags']"
											},
											"sink": {
												"name": "product_tags",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['product_template_suffix']"
											},
											"sink": {
												"name": "product_template_suffix",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['variant_sku']"
											},
											"sink": {
												"name": "variant_sku",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "af_Product",
									"type": "DatasetReference",
									"parameters": {
										"page": {
											"value": "@variables('current_page')",
											"type": "Expression"
										},
										"updated_at_min": {
											"value": "@variables('updated_at_min')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "prq_Product",
									"type": "DatasetReference",
									"parameters": {
										"page": {
											"value": "@variables('current_page')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"current_page": {
				"type": "String",
				"defaultValue": "0"
			},
			"temp_page": {
				"type": "String",
				"defaultValue": "0"
			},
			"total_page": {
				"type": "String",
				"defaultValue": "0"
			},
			"updated_at_min": {
				"type": "String"
			},
			"authorization_key": {
				"type": "String",
				"defaultValue": "Bearer H2eTnjWF6DUyuhh5SXaYtjie42HSHv_IWbaOk6hIQJo"
			}
		},
		"folder": {
			"name": "Haravan/Product"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-26T07:02:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}